In [1]:
#imputing and encoding data (Preprocessing)

In [58]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import pickle
%matplotlib inline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [59]:
data = pd.read_csv("car-sales-extended-missing-data.csv")

In [60]:
data.isna().sum()
data

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [61]:
data.dropna(subset=['Price'],inplace=True)
y = data['Price']
X = data.drop(columns=['Price'],axis=1)

In [62]:
data.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [63]:
# Now what to Fill variables which are missing.
cat_features=['Make','Colour']
door_features=['Doors']
numerical_features =['Odometer (KM)']

cat_imputer = SimpleImputer(strategy='constant',fill_value='Missing')
door_imputer = SimpleImputer(strategy='constant',fill_value=4)
numerical_imputer = SimpleImputer(strategy='mean')

imputer = ColumnTransformer([('cat_imputer',cat_imputer,cat_features),
                                ('door_imputer',door_imputer,door_features),
                                ('numerical_imputer',numerical_imputer,numerical_features)])

In [64]:
filled_x = imputer.fit_transform(X)

In [65]:
filled_x
# Now put back into a dataframe

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [66]:
X = pd.DataFrame(filled_x,columns=['Make','Colour','Doors','Odometer (KM)'])

In [67]:
X

        Make Colour Doors Odometer (KM)
0      Honda  White   4.0       35431.0
1        BMW   Blue   5.0      192714.0
2      Honda  White   4.0       84714.0
3     Toyota  White   4.0      154365.0
4     Nissan   Blue   3.0      181577.0
..       ...    ...   ...           ...
945   Toyota  Black   4.0       35820.0
946  Missing  White   3.0      155144.0
947   Nissan   Blue   4.0       66604.0
948    Honda  White   4.0      215883.0
949   Toyota   Blue   4.0      248360.0

[950 rows x 4 columns]

In [68]:
X.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [69]:
# Now need to encode the catagorical data. Can treat doors as a catagory. 
# Effectively the same method as using the imputer within the column transformer

encoder_features = ['Make','Colour','Doors']

#instanciate encoder 

one_hot = OneHotEncoder()

encoder = ColumnTransformer([('one_hot',one_hot,encoder_features)],remainder='passthrough')

encoded_x = encoder.fit_transform(X)

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [75]:
from sklearn.ensemble import RandomForestRegressor
np.random.seed(42)

X_train,X_test,y_train,y_test = train_test_split(encoded_x,y,test_size=0.2)

In [ ]:
model = RandomForestRegressor().fit(X_train,y_train)

In [74]:
model.score(X_test,y_test)

0.07005945317896678